body {
    background-color: beige;
    color: black;
    margin: 1rem;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}

.input-txt {
    width: 80%;
    border-radius: 0.5rem;
    height: 10vh;
    padding: 1rem;
}

.btn-success {
    height: 9.5vh;
    width: 15%;
    font-size: 25px;
}

.bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1.5rem;
    padding: 2rem 4rem 2rem 4rem;
    height: 100vh;
    background-color: white;
}

.task-list {
    font-size: 25px;
}

.btn-danger {
    margin-left: 100px;
}