body {
    background-color: beige;
    color: black;
    margin: 1rem;
    padding: 1rem;
}

#input-bar {
    width: 80%;
    border-radius: 0.5rem;
    height: 10vh;
    padding: 1rem;
}

.btn-primary {
    height: 9.5vh;
    width: 15%;
    font-size: 25px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1.5rem;
    padding: 2rem 4rem 2rem 4rem;
    height: 100vh;
    background-color: white;
}

.task-list {

    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.task-list li {
    display: block;
}